
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
 
  
  .players {
    height: 350px;
    width: 350px;
    background-color: #34495e;
    border: 5px solid #2c3e50;
    border-radius: 12px;
    margin: 20px;
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .gameScreen {
    display: flex;
    border: 5px solid #4a3636;
    margin: 10px;
    padding: 15px;
  }
   button{
    width: 200px;
    height: 30px;
    margin: 100%;
    

  } 
.Button {
    width: 1%;
    cursor: pointer;
    font-size: 18px;
   margin-left: 15%;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .Button :hover {
    background-color: #3367d6;
  }
  .ContainerButton{
    width: 98%;
    display: flex;
    margin: 10px 0;
    background-color: #5b759d;
    padding: 10px 20px ;
    transition: background-color 0.3s;
  }
  .ContainerButton:hover {
    background-color: #435f80;
  }
  .mainTitle {
    color:#3367d6;
    font-size: 40px;
    margin-bottom: 50px;
    animation: fadeInUp 1s ease-in-out;
  }
  
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 10;
    transform: translateY(0);
  }
}

  .registrationForm{
    width: 700px;
    height: 650px;
    background-color: #9b9494;
  
  }
  
  .buttonRegister{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10% ;
    height: 20px;
    margin-left: 25%;
    background-color: #7c838a;
   
  }

  .inputRegister {
    width: 95%;
    height: 30px;
    background-color: #d1d8e0;       
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
   
  }